body {
    background-image: url("https://image.freepik.com/foto-gratis/amigas-felices-mirando-pantalla-telefono-al-atardecer_1153-216.jpg");
    background-size: 100%;
}

    #contenedor1ero{
        display:block;
        line-height: 1.6;
        text-align:center;
    }

    #contenedor2do{
        display:none;
        text-align: center;
        line-height: 1.6;/*espacio entre líneas*/
        color: rgb(62,3,40);
        font-family:"Lucida Console";
    }

        h1 { 
            color: white;
            text-shadow: 5px 5px 6px rgb(155,23,226);/*ombra para el texto*/ 
            font-family: 'Pacifico', cursive;
            font-size:600%;
            letter-spacing: 2px;
             font-weight: bold;
        }

        h3 {
            color: rgb(14,19,241);
            font-family: 'Baloo', cursive;
            font-size:200%;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px white; /*sombra para el texto*/
        }

        .presentacion {  /*margenes del cuadrado*/
        margin: 50px 0 50px 0;
        }

.intro { 
    background-color:rgb(210,50,106);
    border-radius: 25px;
    opacity: 0.8;
    color:white; 
    font-family: 'Handlee', cursive;
    font-size: 155%;
    letter-spacing: 1px;
    margin: auto;
    padding: 40px;
    width: 50%; 
}



    #btnempecemos {
        background-color:rgb(155,23,226) ;
        border-radius: 20px;
        border: 0;
        color: white;
        padding: 15px 35px;
        font-family: 'Handlee', cursive;
        text-align: center;
        font-size: 20px;
        duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 2px 2px 4px #000000; /*sombra para el texto*/
    }
    #btnempecemos:hover { /*trascicion cambio de color para el boton*/
        background-color:rgb(210,50,106);
        color: white;
    }

 h2 {    
	color:white;  
    font-family: 'Baloo', cursive;
    font-size:250%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(155,23,226) ; /*sombra para el texto*/
    }

.pasos { 
    background-color: rgb(210,50,106);
    border-radius: 25px;
    opacity: 0.8;
    color:white; 
    font-family: 'Handlee', cursive;
    font-size: 125%;
    letter-spacing: 1px;
    text-align: left;
    margin: auto;
    padding: 40px;
    width: 50%;
    }

label {
    color: rgb(14,19,241); 
    font-family: 'Baloo', cursive;
    font-size:150%;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px white ; /*sombra para el texto*/
    }

    #numerodecifrado {
        background:rgb(250,240,239);
        margin: auto;
        padding: 8px 15px;
        border:1.5px solid rgb(155,23,226);
        border-radius: 18px;
        font-weight: bold;
    }

  

    #btncifrado, #btndecifrado {
        background-color:rgb(210,50,106) ;
        border:0;
        border-radius: 20px;
        color: white;
        padding: 8px 22px;
        font-family: 'Handlee', cursive;
        text-align: center;
        font-size: 18px;
        duration: 0.2s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 1px 1px 2px #000000; /*sombra para el texto*/

    }
    #btncifrado:hover , #btndecifrado:hover { /*trascicion cambio de color para el boton*/
        background-color:rgb(155,23,226);
        color: white;
    }

    #textocifrado, #cajadetexto {
        background:rgb(250,240,239);
        width:50%;
        padding: 8px 22px;
        height:100px;
        margin: auto;
        border: 3px solid rgb(155,23,226);
        border-radius: 18px;
        font-size: 14px;
        font-weight: bold;
   }

    #otrocifrado{
        background-color:rgb(155,23,226)  ;
        border-radius:20px;
        border: 0;
        color: white;
        padding: 15px 20px;
         font-family: 'Handlee', cursive;
        text-align: center;
        font-size: 18px;
        duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        box-shadow: 2px 2px 4px #000000; /*sombra para el texto*/
    }
    #otrocifrado:hover { /*trascicion cambio de color para el boton*/
        background-color:rgb(210,50,106);
        color: white;
    }


form button {
    margin: 10px;
}

form div {
    margin: 25px;
}

.footer{
    margin: 10px;
    color: black; 
    font-family: 'Handlee', cursive;
    font-size: 100%;
    text-align: center;
}


    @media (max-width: 1200px) {
        .contenedor1ero,.contenedor2do {
             width: 700px;
        }

        header {
             width: auto;
            height: 150px;
         }

        body{
            font-size: 14px;
            background-size: cover;
            color:white; 
        }

        h1 {
            font-size: 100px;       
        }

        .intro { 
            margin: auto;
        }

        .footer{
        color: black; 
    }

    /*smartphone*/
@media (max-width: 720px) {
     .contenedor1ero,.contenedor2do {
        width: 300px;
    }

    header {
        width: auto;
        height: 100px;
    }
    h1 {
    font-size: 70px;        
    }
    .footer{
        color:black; 

}
